body {
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(24, 23, 23, 0.65);
}

.dropdown-item {
    color: #a3a9a5;
}

.nav-link{
    color: #a3a9a5;
}

#seccion1,
#seccion3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#seccion1,
#seccion2,
#seccion3 h1 {
    font-size: 30px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
#seccion1,
#seccion2,
#seccion3 p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
}

#imagen-centrada1,
#imagen-centrada2,
#imagen-centrada3{
    display: block;
    width: 35%;
    margin: auto;

}

#seccion2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
background-color: #151313;
color: #736b6b;
}

#abajo {
    margin-top: 50%;
}

#abajo2 {
    margin-top: 60%;
}

#carouselExampleCaptions {
    padding-top: 69px;
    margin-top: 50px;
}

#carouselExampleCaptions p{
    color: #ffb702;
}
#carouselExampleCaptions h5 {
    color: #ffb702;
}

#accordionExample {
    padding-top: 69px;
    margin-top: 70px;
}

.accordion-item {
    background-color: dimgray;
}

.salto {
    padding-top: 69px;
    margin-top: 70px;
}

.formulario {
    margin-top: 100px;
}
html {
    scroll-behavior: smooth;
}